---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=/en/">
    <script is:inline>
        window.location.href = "/en/";
    </script>
    <title>Redirecting...</title>
</head>
<body>
    <p>Redirecting to <a href="/en/">/en/</a>...</p>
</body>
</html>
