name: Lint

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["main", "dev"]

permissions:
  contents: write

jobs:
  golangci:
    name: Go Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
        continue-on-error: true

      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Run Prettier
        # Check formatting for web files, markdown, config files, etc.
        run: npx prettier --write "**/*.{js,jsx,ts,tsx,vue,css,scss,html,json,md,mdx,yml,yaml}" --ignore-path .gitignore

      - name: Commit changes
        if: github.event_name == 'pull_request'
        env:
          HEAD_REF: ${{ github.head_ref }}
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git fetch origin
            git checkout -B "$HEAD_REF" "origin/$HEAD_REF"

            git add .
            git commit -m "style: auto-format code"
            if [[ ! "$HEAD_REF" =~ ^[a-zA-Z0-9/_-]+$ ]]; then
              echo "Invalid branch name: $HEAD_REF"
              exit 1
            fi
            git push origin "HEAD:$HEAD_REF"
          fi
